<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="details">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Details</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
